body {
  background-color: #0a0a0a;
  margin: 0;
}

.app {
  margin: 150px;
}

.content {
  padding: 20px;
}

.description-header {
  color: #fff;
  text-align: left;
  font-size: 14px;
}

.description-input {
  display: flex;
  flex-direction: row;
}

textarea {
  flex: 1;
  padding: 10px;
  height: 20px;
  margin-right: 10px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.generate-button {
  background-color: #fafafc;
  color: #0a0a0a;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-top: 2vh;
}

.generated-images {
  margin-top: 150px;
  color: #fff;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-row img {
  width: 23%;
  margin-bottom: 10px;
}
