.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafc;
  color: #fff;
  padding: 10px 20px;
}

.logo {
  width: 30px;
  height: 30px;
}

.title {
  color: black;
  font-weight: bold;
}
